// Free SVG icons: https://useiconic.com/open/
$icon-size: 60px;

.icon {
  width: $icon-size;
  height: $icon-size;
  display: block;
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
}
