.intro {
  font-family: $primary-font-family;
  font-size: $pr16;

  @include media-breakpoint-up(md) {
    font-size: $pr23;
  }

  &__text {
    text-transform: uppercase;
    margin: 0 auto $spacer / 2;
  }

  &__lead {
    font-size: $pr28;
    font-family: $primary-font-family;
    line-height: normal;
    margin-bottom: 0;

    @include media-breakpoint-up(md) {
      font-size: $pr40;
      line-height: 1.3;
      margin-bottom: $spacer * 2;
    }
  }

  &__sublead {
    font-size: $pr16;
    font-weight: 400;

    @include media-breakpoint-up(md) {
      font-size: $pr22;
    }
  }
}
