.timer {
  display: block;
  color: $text-color--light;
  font-family: $primary-font-family;

  &__p {
    display: inline-block;
    font-weight: 700;
    font-size: 8pt;
    padding-left: $spacer;
    padding-right: $spacer;
    color: rgba(255, 255, 255, 0.3);
  }

  &-heading {
    text-transform: uppercase;
    font-family: $base-font-family;
    margin-top: $spacer * 1.2;
    margin-bottom: $spacer / 2;
  }

  &-value {
    display: block;
    margin: auto;
    font-weight: 900;
    font-family: $base-font-family;
    font-size: $pr32;
    text-align: center;
    color: $text-color--light;
  }
}
