<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Masterclass registration page <%= htmlWebpackPlugin.options.title %></title>
  <meta name="description" content="Masterclass registration page">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="icon" href="<%=require('./images/favicon-32x32.png')%>" sizes="any" type="image/png">
  <!-- Google Tag Manager -->
  <!-- <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WQ9PMNK');</script> -->
  <!-- End Google Tag Manager -->
  <!-- Facebook Pixel Code -->
  <script>
    // !function(f,b,e,v,n,t,s)
    // {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    // n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    // if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    // n.queue=[];t=b.createElement(e);t.async=!0;
    // t.src=v;s=b.getElementsByTagName(e)[0];
    // s.parentNode.insertBefore(t,s)}(window, document,'script',
    // 'https://connect.facebook.net/en_US/fbevents.js');
    // fbq('init', '145742402840502');
    // fbq('track', 'PageView');
    // fbq('track', 'ViewContent', {
    //   content_type: 'automatedSASMasterclass_s1_webinarRegistration',
    // });
  </script>
  <!-- <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=145742402840502&ev=PageView&noscript=1"
  /></noscript> -->
  <!-- End Facebook Pixel Code -->
</head>
<body>
  <!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQ9PMNK"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
  <article>
    <header class="section section--dark hero">
      <div class="container">
        <div class="row row--narrow-80">
          <div class="col">
            <h1 class="logo logo--hero">Foundr</h1>
          </div><!-- /col -->
        </div>
        <div class="row center-cols">
      </div>
    </header><!-- /hero -->
    <section class="section section--light intro">
      <div class="container">
        <div class="row row--narrow-80">
          <div class="col">
            <h1 class="intro__lead">How to Start Your Own Business
Without Prior Knowledge or Experience</h1>
            <h2 class="intro__sublead">How to pick your niche, identify a problem, create a product or service people want,
validate it, market it, sell it, get your 1st paying customer — turn a profit — in 42-days.</h2>
          </div><!-- /col -->
        </div>
      </div>
    </section><!-- / intro -->
    <section class="section section--light registration">
      <div class="container">
        <div class="row row--narrow-80">
          <div class="col col--6">
            <img
            src="<%=require('./images/webinar_image.jpg')%>"
            alt="Webinar"
            width="540"
            height="319" />
          </div><!-- /col -->
          <div class="col col--6">
            <h4>GET Free Training + Bezos Amazon Letters</h4>
          </div><!-- /col -->
        </div>
      </div>
    </section><!-- / registration -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="logo logo--footer">Foundr</h2>
            <p class="footer__text">&copy; 2019 <a href="https://foundr.com/">Foundr</a> ·
              <a href="https://foundr.com/our-privacy-policy">Privacy Policy</a> ·
              <a href="https://foundr.com/terms-conditions">Terms & Conditions</a> ·
              <a href="mailto:support@foundr.com">Email questions to support@foundr.com</a>
            </p>
            <p class="disclaimer">Earnings Disclaimer:
              The following training shows you how Sabri Suby works with clients at his company,
               King Kong, and the systems he used to grow his business from a one-person
               consultancy to an agency of 50 employees. Results from this free training may
               vary from individual to individual and from company to company. While many of
               our students have seen significant results in growing their consulting revenues,
               we cannot guarantee that this will work for you or your company. Growing a
               business is a serious endeavor and there are numerous factors that could impact
               the growth or decline of a business — not limited to the nature of the company,
               the industry, staff, leadership personnel and many other factors. All businesses
               involve risk. We at Foundr stand behind this training and the system that Sabri
               teaches therein, but it is important to note that building a company in this
               manner takes enormous discipline and dedication and is no simple task.</p>
          </div>
        </div>
      </div>
    </footer><!-- /footer -->
    <!-- Testing button -->
    <!-- <link href="//events.genndi.com/assets/css/register_button.css" rel="stylesheet"><div> -->
<div class="embedded-joinwebinar-button">
  <button type="button" class="btn btn-default css3button btn-register btn-masterclass" title="regpopbox_169105139238454001_1bbf7c8c38"><span>REGISTER NOW</span></button>
</div>
</div>
  <script src="//events.genndi.com/register.evergreen.extra.js" language="javascript" type="text/javascript" async></script>
  <img src="//events.genndi.com/tracker?action=registration-evergreen&webicode=1bbf7c8c38&version=&memberid=169105139238454001" style="visibility:hidden; height:0px; width:0px; border:none;">
  <!-- End Testing button -->

  </article>
</body>
</html>
